<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <script src="https://cdn.tailwindcss.com"></script>
    <title>Mi-Wallet</title>
  </head>
  <body>
    <header
      class="border-b border-4 border-slate-600 bg-gradient-to-r from-rose-400 via-violet-500 to-blue-500 rounded"
    >
      <nav class="flex m-4 p-2 text-lg font-semibold lg:text-2xl">
        <div class="basis-4/5">
          <a href="/">Mi-Wallet</a>
        </div>
        <div class="basis-1/5">
          <ul class="flex space-x-4 text-base font-semibold lg:text-xl">
            <li><a href="login">Login</a></li>
            <li><a href="register">Register</a></li>
          </ul>
        </div>
      </nav>
    </header>
  </body>
</html>
