<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <script src="https://cdn.tailwindcss.com"></script>

    <title>Mi-Wallet home</title>
  </head>
  <body>
    {% extends "index2.htm" %} {% block content %}

    <div
      class="grid grid-cols-3 bg-teal-600 rounded-sm text-base p-2 font-semibold text-white mt-8"
    >
      <div>$USD-Price</div>
      <div>24H-Change%</div>
      <div>7D-Change%</div>
    </div>
    {% for coin in data%}
    <div class="grid grid-rows-1 rounded-lg drop-shadow-md">
      <div
        class="grid grid-row-1 bg-teal-500 rounded-sm text-base mt-2 font-semibold"
      >
        {{coin.name}} || {{coin.currency_symbol}}
        <div
          class="grid grid-cols-3 bg-cyan-100 rounded-sm text-base font-semibold"
        >
          <div>${{coin.inst_price_usd}}</div>
          <div>{{coin.change_percent_1d}}</div>
          <div>{{coin.change_percent_7d}}</div>
        </div>
      </div>
    </div>
    {% endfor %}

    <!-- <ul>
      {% for todo in todos %}
      <li>TASK ID: {{ todo.id }} - TASK: {{ todo.title }}</li>
      <p>USER ID:{{todo.userId}}</p>
      <h1>COMPLETED: {{todo.completed}}</h1>
      {% endfor %}
    </ul> -->
    {% endblock content %}
  </body>
</html>
