<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <script src="https://cdn.tailwindcss.com"></script>
    <title>Mi-Wallet</title>
  </head>
  <body>
    <header
      class="border-b border-4 border-slate-600 bg-gradient-to-r from-rose-400 via-violet-500 to-blue-500 rounded"
    >
      <nav class="flex m-4 p-2 text-lg font-semibold lg:text-2xl">
        <div class="basis-4/5">
          <a href="/">Mi-Wallet</a>
        </div>
        <div class="basis-1/5">
          {% if user %}
          <ul class="flex space-x-4 text-base font-semibold lg:text-xl">
            <li><a href="login">Login</a></li>
            <li><a href="register">Register</a></li>
          </ul>
          {% else %}
          <!-- currently Anon -->
          <!-- todo: user user.first_name for introduction! -->
          <ul class="flex space-x-4 text-base font-semibold lg:text-xl">
            <li>Hello, {{user.first_name}}</li>
            <li><a href="#">Logout</a></li>
          </ul>

          {% endif %}
        </div>
      </nav>
    </header>
    <div
      class="main-container m-6 p-2 bg-gradient-to-b from-slate-200 via-zinc-400 to-slate-500 rounded-lg text-2xl text-center"
    >
      <h2>Wallet Source: BlockCypher</h2>

      <div class="space-y-4 lg:space-x-12 sm:space-x-4">
        <a
          href="payment"
          class="bg-rose-300 rounded-lg p-2 border-2 border-rose-600 text-base lg:text-xl"
        >
          Send BitCrystals (BCY)
        </a>
        <button
          class="bg-blue-400 rounded-lg p-2 border-2 border-blue-600 text-base lg:text-xl"
        >
          <!-- todo add a QR CODE page to receive payment -->
          Receive BitCrystals (BCY)
        </button>
      </div>
      <div>
        <div class="mx-auto w-3/5">
          {% block top_coins %} {% endblock top_coins %}
        </div>
        <div>{% block news_page %} {% endblock news_page %}</div>
      </div>
    </div>
  </body>
</html>
