<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <script src="https://cdn.tailwindcss.com"></script>
    <title>Mi-Wallet</title>
  </head>
  <body>
    <header class="border-b border-4 border-slate-600 bg-slate-200 rounded">
      <nav class="flex m-4 p-2 text-lg font-semibold">
        <div class="basis-4/5">
          <a href="/">Mi-Wallet</a>
        </div>
        <div class="basis-1/5">
          <ul class="flex space-x-4 text-base font-semibold">
            <li><a href="login">Login</a></li>
            <li><a href="register">Register</a></li>
          </ul>
        </div>
      </nav>
    </header>
    <div
      class="main-container m-6 p-2 bg-gradient-to-b from-slate-200 via-zinc-400 to-slate-500 rounded-lg text-2xl text-center"
    >
      <h2>Wallet Source: BlockCypher</h2>
      <!-- <div>
        <h2>Address:</h2>

        <div>
          <h3>Balance USD: $</h3>
        </div>

        <div class="space-y-4">
          <button
            class="bg-gradient-to-b from-emerald-300 via-teal-400 to-cyan-400 rounded-lg p-2 border-2 border-teal-600"
          >
            Send Bitcoin
          </button>
          <button
            class="bg-gradient-to-b from-emerald-300 via-teal-400 to-cyan-400 rounded-lg p-2 border-2 border-teal-600"
          >
            Receive Bitcoin
          </button>
        </div>
      </div> -->
      <div>{% block content %} {% endblock content %}</div>
    </div>
  </body>
</html>
