<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <script src="https://cdn.tailwindcss.com"></script>
    <title>Mi-Wallet</title>
  </head>
  <body>
    <header class="border-b border-4 border-slate-600 bg-slate-200 rounded">
      <nav class="flex m-4 p-2 text-2xl font-semibold">
        <div class="basis-4/5">
          <a href="/">Mi-Wallet</a>
        </div>
        <div class="basis-1/5">
          <ul class="flex space-x-24 text-2xl font-semibold">
            <li><a href="register">Register</a></li>
          </ul>
        </div>
      </nav>
    </header>
    <div
      class="main-container w-2/5 mx-auto mt-36 p-4 bg-orange-200 rounded-lg text-2xl text-center"
    >
      <form class="grid grid-cols-2 w-3/5 mx-auto">
        <label>Email:</label>
        <input type="text" class="border-4 border-slate-700 rounded-xl m-2"/>
        <label>Password:</label>
        <input type="text" class="border-4 border-slate-700 rounded-xl m-2"/>
      </form>
      </div>
    </div>
  </body>
</html>
