<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <script src="https://cdn.tailwindcss.com"></script>
    <title>Mi-Wallet</title>
  </head>
  <body>
    <header class="border-b border-4 border-slate-600 bg-slate-200 rounded">
      <nav class="flex m-4 p-2 text-base font-semibold md:text-2xl">
        <div class="basis-4/5">
          <a href="/">Mi-Wallet</a>
        </div>
        <div class="basis-1/5">
          <ul class="flex space-x-4 text-base font-semibold md:text-2xl">
            <li><a href="register">Register</a></li>
          </ul>
        </div>
      </nav>
    </header>
    <div
      class="main-container w-5/6 mx-auto mt-16 p-4 bg-teal-500 rounded-lg text-lg text-center drop-shadow-[0_35px_35px_rgba(5,5,5,0.44)] sm:w-3/5 md:text-2xl"
    >
      <!-- <form class="grid grid-rows-1 w-5/6 mx-auto font-semibold" >
        <label>Email/Sub-Account</label>
        <input type="text" class="border-2 border-slate-600 rounded-xl mb-4"/>
        <label>Login Password</label>
        <input type="text" class="border-2 border-slate-600 rounded-xl"/>
        <button class="rounded-lg mx-auto bg-teal-300 m-2 p-2 w-3/5 border-2 border-slate-600">Log In</button>
      </form> -->
      <form method="POST" class="space-y-4">
        <h2 class="font-semibold text-white">Log in below to access Mi-Wallet</h2>
        <img src="https://external-content.duckduckgo.com/iu/?u=http%3A%2F%2Fgetwallpapers.com%2Fwallpaper%2Ffull%2Fb%2F1%2Ff%2F275164.jpg&f=1&nofb=1&ipt=3245bf36bf9d9fceef7263ada724b44ec31846cf582c2b67e2daabe22178955d&ipo=images" class="rounded-xl"/>
        {{form.as_p}}
        {% csrf_token %}
        <input type="submit" value="Log In" class="bg-teal-300 p-2 w-2/5 border-2 border-slate-600 rounded-xl"/>
      </form>

      </div>
    </div>
  </body>
</html>
