<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <script src="https://cdn.tailwindcss.com"></script>
    <title>Mi-Wallet</title>
  </head>
  <body>
    <header class="border-b border-4 border-slate-600 bg-slate-200 rounded">
      <nav class="flex m-4 p-2 text-lg font-semibold">
        <div class="basis-4/5">
          <a href="/">Mi-Wallet</a>
        </div>
        <div class="basis-1/5">
          <ul class="flex space-x-4 text-base font-semibold">
            <li><a href="login">Login</a></li>
            <li><a href="register">Register</a></li>
          </ul>
        </div>
      </nav>
    </header>
    <div
      class="main-container m-6 p-2 bg-gradient-to-b from-slate-200 via-zinc-400 to-slate-500 rounded-lg text-2xl text-center"
    >
      <h2>Wallet Source: BlockCypher</h2>
      <form>
        <!-- todo get logged in user's waalet/addresses -->
        <!-- todo display address 1 balance / drag down to select option of addresses -->

        <input
          type="submit"
          value="Check For Valid Address"
          class="bg-teal-300 p-2 w-2/5 border-2 border-slate-600 rounded-xl"
        />
      </form>
    </div>
  </body>
</html>
